<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="5.6.0" targetFramework="net471" />
  <package id="LightBDD" version="2.1.0" targetFramework="net471" />
  <package id="LightBDD.Core" version="3.0.1" targetFramework="net471" />
  <package id="LightBDD.Framework" version="3.0.1" targetFramework="net471" />
  <package id="LightBDD.NUnit" version="2.1.0" targetFramework="net471" />
  <package id="LightBDD.NUnit2" version="2.1.0.0" targetFramework="net471" />
  <package id="LightBDD.NUnit3" version="3.0.1" targetFramework="net471" />
  <package id="NUnit" version="3.11.0" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net471" />
</packages>